<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mini.mapper.ItemMstMapper">

    <!-- 화주명을 화면에서 바로 보여주기 위해 SHIPPER를 JOIN -->
    <select id="selectItemMstList" resultType="com.wms.mini.domain.ItemMst">
        SELECT i.ITEM_CD, i.SHIPPER_CD, i.ITEM_NM, i.USE_YN, s.SHIPPER_NM
        FROM ITEM_MST i
                 JOIN SHIPPER s ON i.SHIPPER_CD = s.SHIPPER_CD
        ORDER BY i.ITEM_CD
    </select>

    <select id="selectItemMst" parameterType="string" resultType="com.wms.mini.domain.ItemMst">
        SELECT i.ITEM_CD, i.SHIPPER_CD, i.ITEM_NM, i.USE_YN, s.SHIPPER_NM
        FROM ITEM_MST i
                 JOIN SHIPPER s ON i.SHIPPER_CD = s.SHIPPER_CD
        WHERE i.ITEM_CD = #{itemCd}
    </select>

    <insert id="insertItemMst" parameterType="com.wms.mini.domain.ItemMst">
        INSERT INTO ITEM_MST (ITEM_CD, SHIPPER_CD, ITEM_NM, USE_YN)
        VALUES (#{itemCd}, #{shipperCd}, #{itemNm}, #{useYn})
    </insert>

    <update id="updateItemMst" parameterType="com.wms.mini.domain.ItemMst">
        UPDATE ITEM_MST
        SET SHIPPER_CD = #{shipperCd},
            ITEM_NM = #{itemNm},
            USE_YN = #{useYn}
        WHERE ITEM_CD = #{itemCd}
    </update>

    <delete id="deleteItemMst" parameterType="string">
        DELETE FROM ITEM_MST WHERE ITEM_CD = #{itemCd}
    </delete>

</mapper>