<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mini.mapper.ShipperMapper">

    <select id="selectShipperList" resultType="com.wms.mini.domain.Shipper">
        SELECT SHIPPER_CD, SHIPPER_NM, USE_YN
        FROM SHIPPER
        ORDER BY SHIPPER_CD
    </select>

    <select id="selectShipper" parameterType="string" resultType="com.wms.mini.domain.Shipper">
        SELECT SHIPPER_CD, SHIPPER_NM, USE_YN
        FROM SHIPPER
        WHERE SHIPPER_CD = #{shipperCd}
    </select>

    <insert id="insertShipper" parameterType="com.wms.mini.domain.Shipper">
        INSERT INTO SHIPPER (SHIPPER_CD, SHIPPER_NM, USE_YN)
        VALUES (#{shipperCd}, #{shipperNm}, #{useYn})
    </insert>

    <update id="updateShipper" parameterType="com.wms.mini.domain.Shipper">
        UPDATE SHIPPER
        SET SHIPPER_NM = #{shipperNm},
            USE_YN = #{useYn}
        WHERE SHIPPER_CD = #{shipperCd}
    </update>

    <delete id="deleteShipper" parameterType="string">
        DELETE FROM SHIPPER WHERE SHIPPER_CD = #{shipperCd}
    </delete>

</mapper>
